<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Whiskey
        </th>
        <th>
            # Bottles
        </th>
        <th>
            Total Purchase Price
        </th>
        <th>
            Average Price Per Bottle
        </th>
        <th>
            Current Market Price Per Bottle
        </th>
        <th>
            Unrealised PnL
        </th>
        <th>
            Realised PnL
        </th>
        <th>
            PnL Per Bottle
        </th>
        <th>
            RoI
        </th>
    </tr>
    <tr *ngFor="let pos of positions">
        <td>
            {{pos.id}}
        </td>
        <td>
            {{getWhiskeyName(pos.whiskeyId)}}
        </td>
        <td>
            {{pos.numberOfBottles}}
        </td>
        <td>
            {{pos.totalPurchasePrice | currency: 'EUR'}}
        </td>
        <td>
            {{pos.averagePricePerBottle | currency: 'EUR'}}
        </td>
        <td>
            {{pos.currentMarketPricePerBottle | currency: 'EUR'}}
        </td>
        <td>
            {{pos.realisedPnL | currency: 'EUR'}}
        </td>
        <td>
            {{pos.unrealisedPnL | currency: 'EUR'}}
        </td>
        <td>
            {{pos.pnLPerBottle | currency: 'EUR'}}
        </td>
        <td>
            {{pos.returnOnInvestment | percent}}
        </td>
    </tr>
</table>