<div class="container">
    <div class="row">
        <div class="col-sm-3 my-3">
            <div class="card h-100">
                <div class="card-block">
                    <h4 class="card-title" style="text-align: center;">Add</h4>
                    <h2 style="text-align: center;">
                        <fa-icon size="3x" title="Add Whiskey" [icon]="faPlus" (click)="addNewWhiskey()"
                            style="cursor: pointer;"></fa-icon>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-3" *ngFor="let whiskey of rowData">

            <div class="card h-100">
                <img src="assets/bottle.png" class="img-fluid card-img-top" />
                <div class="overlay">
                    <fa-icon class="icon" size="lg" title="Delete Whiskey" [icon]="faTimes" (click)="deleteWhiskey(whiskey)" style="cursor: pointer;"></fa-icon>
                  </div>
                <div class="card-body">
                    <h4 class="card-title">{{whiskey.distiller}}</h4>
                    <h4 class="card-text">{{whiskey.name}}</h4>
                    <p class="card-text"><small class="text-muted">Last updated {{convertDate(whiskey.updated)}}</small></p>
                    <p class="card-text text-center"><a (click)="showDetails(whiskey)" class="btn btn-dark">Show details</a></p>
                </div>
            </div>
        </div>
    </div>
</div>