<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Whiskey
        </th>
        <th>
            # Bottles
        </th>
        <th>
            Price per bottle
        </th>
        <th>
            Date
        </th>
        <th>
            Total trade value
        </th>
    </tr>
    <tr *ngFor="let trade of trades">
        <td>
            {{trade.id}}
        </td>
        <td>
            {{getWhiskeyName(trade.whiskeyId)}}
        </td>
        <td>
            {{trade.numberOfBottles}}
        </td>
        <td>
            {{trade.pricePerBottle | currency: 'EUR'}}
        </td>
        <td>
            {{trade.date | date: 'MMM-yy'}}
        </td>
        <td>
            {{trade.pricePerBottle * trade.numberOfBottles | currency: 'EUR'}}
        </td>
    </tr>
</table>