<div class="container-fluid">
    
    <div class="jumbotron">
        <span class="display-4">Whiskey Prices</span>
        <i class="pi pi-plus" size="3x" title="Add Price" (click)="addNewWhiskeyPrice()" style="cursor: pointer;"></i>
    </div>
    <div class="row">
        <div class="card">
            <p-table [value]="rowData" [tableStyle]="{ 'min-width': '50rem' }" sortField="date" [sortOrder]="-1"
            [globalFilterFields]="['whiskeyName', 'date', 'price']"
            #pricesTable
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(pricesTable)"></button>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="globalFilterUpdate($event)" input="pricesTable.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="whiskeyName">  Name        <p-sortIcon field="whiskeyName"></p-sortIcon></th>
                        <th pSortableColumn="date">         Date        <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="price">        Price       <p-sortIcon field="price"></p-sortIcon></th>
                        <th>&nbsp;</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-price>
                    <tr>
                        <td>{{price.whiskeyName}}</td>
                        <td>{{price.date|date:'YYYY-MMM-dd'}}</td>
                        <td>{{price.price|currency:'GBP'}}</td>
                        <td><i class="pi pi-trash" size="2x" title="Delete" (click)="delete(price)" style="cursor: pointer;"></i></td>
                    </tr>
                </ng-template>
            </p-table>
            <!--ag-grid-angular
                #pricesGrid
                style="height: 500px;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [gridOptions]="gridOptions"
                (cellValueChanged)="saveEntry($event)"
            >
            </ag-grid-angular-->
        </div>
    </div>
</div>